<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

    <title>{{ page.title }}</title>
  </head>

  <body>
    <!-- ClickTale Top part -->
    <script type="text/javascript">
    var WRInitTime=(new Date()).getTime();
    </script>
    <!-- ClickTale end of Top part -->
    
    <header>
      <div class="container">
        <h1>Dhodgkin.github.com</h1>
        <h2>website</h2>

        <section id="downloads">
          <a href="https://github.com/dhodgkin" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">

        {{ content }}
      
      </section>
    </div>

    <a href="http://github.com/dhodgkin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

    <!-- ClickTale Bottom part -->
    <div id="ClickTaleDiv" style="display: none;"></div>
    <script type="text/javascript">
    if(document.location.protocol!='https:')
      document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
    </script>
    <!-- ClickTale end of Bottom part -->
    
  </body>
</html>
