<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />

    <!--  Typekit -->
    <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <!-- ClickTale Top part -->
    <script type="text/javascript">var WRInitTime=(new Date()).getTime();</script>
    <!-- ClickTale end of Top part -->


<!-- ...................................................................... -->
<!-- Site Layout Begins                                                     -->
<!-- ...................................................................... -->

    <!-- Page Header start -->
    <header class="title">
      <div class="container">
        <h1><a href="/">{{ page.title }}</a></h1>
        <h2>{{ page.slogan }}</h2>
<!--         <div class="undertitlemenu">
          <a class="extra" href="/">Home</a>
          <a class="extra" href="/">Item2</a>
          <a class="extra" href="/">Item3</a>
          <a class="extra" href="/">Item4</a>
        </div> -->
      </div>
    </header>
    <!-- Page Header end -->

    <!-- Main Content Area start -->
    <div class="container">
      <section id="main_content">{{ content }}</section>
    </div>
    <!-- Main Content Area end -->

    <!-- Page Footer start -->
    <footer>
      <div class="footer">
        <!-- <div class="contact"><p>Damien Hodgkin<br>dracul01@gmail.com</p></div> -->

        <div class="copytext">
          <p>All content belongs to me unless otherwise stated.</p>

          <div class="thanksbox">
            <p>
              <span class="thanks">
                Thanks Tim Preston-Werner for some CSS code I used from your site.
                <br>
                And some small snippets from your layout to get posts showing.
              </span>
            </p>
            <p>
              <span class="thanks">
                Thanks to GitHub for an amazingly cool tool.
              </span>
            </p>
            <p>
              <span class="thanks">
                And thanks to anyone who is not mentioned.
                <br>
                You all helped me in various ways.
              </span>
            </p>
          </div>

          <div class="contact"><p>Find me here <a href="http://github.com/dhodgkin/">github.com/dhodgkin</a><br></p></div>
          <p>Copyright © 2012 Damien Hodgkin &lt;dracul01@gmail.com&gt;.<br>All Right Reserved.</p>
        </div>

        <!-- <div class="rss"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></div> -->
      </div>
    </footer>
    <!-- Page Footer end -->

    <a href="http://github.com/dhodgkin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- ...................................................................... -->
<!-- Site Layout Ends                                                       -->
<!-- ...................................................................... -->

    <!-- ClickTale Bottom part -->
    <div id="ClickTaleDiv" style="display: none;"></div>
    <script type="text/javascript">
    if(document.location.protocol!='https:')
      document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    if(typeof ClickTale=='function') ClickTale(11816,0.5,"www14");
    </script>
    <!-- ClickTale end of Bottom part -->
    
  </body>
</html>
