<!DOCTYPE html>
<html>
  {% include grey-matter.html %}
  <body>
    <!-- ClickTale Top part -->
    <script type="text/javascript">var WRInitTime=(new Date()).getTime();</script>
    <!-- ClickTale end of Top part -->

    {% include fb-jssdk.html %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Site Layout Begins                                                  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    {% include header.html %}

    <!-- Main Content Area start -->
    <div class="container">
      <div id="main_content">{{ content }}</div>
    </div>
    <!-- Main Content Area end -->

    {% include footer.html %}

    <script> //<![CDATA[    
       $(document).ready(function(){
          $("#thanksbox").hide();
          $("#thanks ul").prepend("<li class='thanks'><a href='' title='Thanks'>Thanks</a></li>");
          $(".thanks-actions li.thanks a").click(function(event) {
            $(this).parents("ul").prev("#thanksbox").toggle();
            event.preventDefault();
          });

         $(".thebody").hide();
         $(".posts ul").prepend("<li class='comment'><a href='' title='Comment'>Comment</a></li>");
         $(".actions li.comment a").click(function(event){
           $(this).parents("ul").prev(".thebody").toggle();
           event.preventDefault();
         });
       });
     //]]></script>

    <a href="http://github.com/dhodgkin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Site Layout Ends                                                        -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- ClickTale Bottom part -->
    <div id="ClickTaleDiv" style="display: none;"></div>
    <script type="text/javascript">
    if(document.location.protocol!='https:')
      document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    if(typeof ClickTale=='function') ClickTale(11816,0.5,"www14");
    </script>
    <!-- ClickTale end of Bottom part -->
    
  </body>
</html>
